.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

label {
  padding-right: 5px;
}

form input {
  border-radius: 6px;
  background-color: transparent;
  border: 1px black;
  transition: all 0.5s;
  width: 100px;
  height: 50px;
  color: black;
}

form input:hover {
  background-color: antiquewhite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}