body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #306482;
}

h2 {
  text-decoration: underline overline dotted #306482;
}

.game {
  font-size: 2em;
}

.text {
  color: #306482;
  font-size: 1.2em;
}

button {
  background: #38aceb;
  background-image: -webkit-linear-gradient(top, #38aceb, #236e96);
  background-image: -moz-linear-gradient(top, #38aceb, #236e96);
  background-image: -ms-linear-gradient(top, #38aceb, #236e96);
  background-image: -o-linear-gradient(top, #38aceb, #236e96);
  background-image: linear-gradient(to bottom, #38aceb, #236e96);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 2px 5px #666666;
  -moz-box-shadow: 0px 2px 5px #666666;
  box-shadow: 0px 2px 5px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 22px 40px 26px 40px;
  text-decoration: none;
  border: none;
  outline: none;
  margin: 20px;
  padding: 15px 32px;
  display: inline-block;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.equation {
  margin-top: 5%;
}
