body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 2em;
}

.container {
  margin: 5% 2%;
  text-align: left;
}

input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px;
  border: 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  outline: none;
}

.echo {
  font-size: 1.4em;
}
